@using Server.TypeDefinition;
@using System.Collections.Generic;
@model Server.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="jumbotron">
    <h1>AirBuild</h1> 
    <p>Continuous Integration and Automatic deployment for Internet of Things</p> 
  </div>

  <p>Following devices are currently connected to the server</p> 

    <table class="table table-hover">
    <thead>
        <tr>
            <th>MAC ID</th>
            <th>Nickname</th>
            <th>Current Build</th>
            <th>Staging Device</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var device in Model.Devices)
    {
        <tr>
            <td>
                @device.MacID
            </td>

            <td>
                @device.Nickname
            </td>

            <td>
                @device.currentBuild
            </td>

            <td>
                @if(device.isPreProductionDevice)
                {
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                }
            </td>
        </tr>
    }
    </tbody>
    </table>
</div>